<!DOCTYPE html>
<html>
<head>
  <title>Carousel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--<link rel="stylesheet" type="text/css" href="javascripts/slick/slick.css"/>!-->
<!--<link rel="stylesheet" href="stylesheets/application.css">!-->

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>

  
  </head>
<body>


<%= yield %>
<!--<script src="javascripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="javacripts/slick/slick.min.js"></script>!-->
<!--<script src="javascripts/application.js"></script>!-->


<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
<script>$('.multiple-items').slick({
  dots: true,
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1
});</script>


</body>
</html>
